$primary-color: #3A5B82;
$text-body: #464646;
$text-white: #fff;
$text-smoke: #FCFCFF;
$text-purple: #F8F3FF;
$text-grey: #A4A7BF;
$text-dark: #7B7B7B;
$font-stack: 'Roboto', sans-serif;
$spacing-unit: 1rem;

.text-white {
    color: $text-white;
}
.text-primary {
    color: $primary-color;
}
.bg-purple {
    background-color: $text-purple;
}
.fw-normal {
    font-weight: 400 !important;
}
.mt-0 {
    margin-top: 0 !important;
}