@use '../abstracts/index' as *;

.custom-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow: 0px 12px 50px #CF504A1A;
    border-radius: .375rem;
    min-height: 60px;
    padding: .15rem;
    color: $text-white;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1.25rem;
    cursor: pointer;
    transition: .3s ease all;
    width: 100%;
    &[color="primary"] {
        background-color: $primary-color;
    }
    &:active {
        background-color: #19406e;
    }
    @include respond-above(md) {
        width: auto;
    }
    @include respond-above(lg) {
        font-size: 1.25rem;
        &:hover {
            background-color: #19406e;
            .arrow {
                background-color: #202f5d;
            }
        }
    }
    .arrow {
        background: #9dadc1;
        height: 54px;
        width: 54px;
        border-radius: .25rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }
}